<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>To-do-List</title>
</head>

<body>
  <h1>Today is <%= kindOfDay %></h1>
  <% for(var i=0; i<25; i++){ %>
    <%= i %>
  <%}%>
</body>

</html>
